# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bonsai-brain

# Build artifacts
/bonsai
dist/

# Go
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Other build systems
.gradle/
build/
out/
**/build/
**/target/
venv/
.env
.venv/
__pycache__/
../../
